extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="https://assets.intersystems.com/26/bd/6a6aa762425f87ad7d5c2fe65f8c/awslogo-image.jpg")


  footer 
    p By Kush, Elham and Bradley